<!DOCTYPE html>
<html>
  <head>
    <meta @rset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Timecode generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="/js/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p>
        A timecode generator for lols. Repo
        <a href="https://gitlab.com/SuperRoach/timecode-generator">here</a>
      </p>
      <div class="container">
        <button v-on:click="addTimecode" class="timecode">Add Timecode</button>
        <label for="offset">Time offset</label>
        <input
          id="offset"
          class="offset"
          type="number"
          v-model.number="timeOffset"
          placeholder="Offset amount (seconds)"
          title="Offset all values by this amount (seconds) - useful for an alternative start time"
          size="4"
        />
      </div>
      <div class="timecodesContainer">
        <div class="column">
          <div class="allTimecodes">
            <h3>Captions you can add:</h3>
            <ul>
              <li
                v-for="todo in todos"
                contenteditable
                @click="addCaption(todo)"
                @blur="handleInput($event, todo)"
              >
                {{ todo.text }}
              </li>
            </ul>

            <details>
              <summary>See all youtube timecodes</summary>
              <ol>
                <!-- This should be in the format like:
            @0:00
            @0:05
            @0:20 etc
          -->
                <li v-for="todo in todos">
                  @{{ formatTime(todo.previousSum + todo.relativeTimestamp +
                  timeOffsetSeconds) }}
                  <span v-if="todo.edited"> - {{todo.text}}</span>
                </li>
              </ol>
              <button
                class="copy"
                title="Copy to clipboard"
                size="4"
                @click="copyTodos"
              >
                Copy timecodes
              </button>
              <button
                class="clear`"
                title="Clear all timecodes"
                size="4"
                @click="clearTodos"
              >
                Clear all timecodes
              </button>
            </details>
          </div>
        </div>
        <div class="column">
          <div class="recentTimecodes">
            <h3>Recent timecodes:</h3>
            <p v-for="todo in recentTodos">
              @{{ formatTime(todo.previousSum + todo.relativeTimestamp +
              timeOffsetSeconds) }}
              <span v-if="todo.edited"> - {{todo.text}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <script>
      // Given a start time,
      // each time the button is clicked mark a new time code.

      var app = new Vue({
        el: "#app",
        data: {
          lastTimecode: `${Date.now()}`,
          timeOffset: 0,
          todos: [
            {
              text: "First started",
              absoluteTime: `${Date.now()}`,
              relativeTimestamp: 0,
              previousSum: 0,
              edited: false,
            },
          ],
        },
        mounted() {
          if (localStorage.getItem("todos")) {
            this.todos = JSON.parse(localStorage.getItem("todos")) || [];
          }
        },
        watch: {
          todos(newValue, oldValue) {
            console.log("ffs",  newValue)
            localStorage.setItem("todos", JSON.stringify(newValue));
          },
        },
        computed: {
          timeOffsetSeconds() {
            return parseInt(this.timeOffset * 1000);
          },
          copiableTodos() {
            let timecodes = this.todos.map((todo) => {
              const baseTime =
                "@" +
                this.formatTime(
                  todo.previousSum +
                    todo.relativeTimestamp +
                    this.timeOffsetSeconds
                );
              newString = todo.edited ? baseTime + ` - ${todo.text}` : baseTime;
              return newString;
            });
            return timecodes.join("\r");
          },
          recentTodos() {
            return this.todos.slice(-2).reverse();
          },
        },
        methods: {
          formatTime: function (milliseconds) {
            // Over one hour
            if (Math.floor(milliseconds / 3600000) >= 1) {
              // Add the hours column. It will look like:
              /// "03:25:45"
              // After stripping "1970-01-01T03:25:45.000Z"
              return new Date(milliseconds).toISOString().slice(11, 19);
            } else {
              // Old school, with no hours formatter.
              var minutes = Math.floor(milliseconds / 60000);
              var seconds = ((milliseconds % 60000) / 1000).toFixed(0);
              return minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
            }
          },
          addCaption: function (todo) {
            todo.edited = true;
          },
          clearTodos: function() {
            this.todos = [
              {
                text: "First started",
                absoluteTime: `${Date.now()}`,
                relativeTimestamp: 0,
                previousSum: 0,
                edited: false,
              },
            ]
            this.lastTimecode = `${Date.now()}`;
          },
          copyTodos: function () {
            navigator.clipboard
              .writeText(`Here is a set of timecodes to help navigate this video: \r\r` + this.copiableTodos)
              .then(() => {
                console.log("Todo's copied to clipboard...");
              })
              .catch((err) => {
                console.log("Something went wrong trying to copy...", err);
              });
          },
          handleInput: function (event, todo) {
            todo.text = event.target.innerText;
            // console.log(this.todos[this.todos.indexOf(todo) ]);
          },
          addTimecode: function () {
            const currentDate = new Date();
            const timestamp = currentDate.getTime();
            // Sum the array up to this point.
            const currentSum = this.todos.reduce(
              (acc, val) => acc + val.relativeTimestamp,
              0
            );

            //  Add a new timecode
            this.todos.push({
              text: `Timecode ${this.todos.length + 1}`,
              absoluteTime: timestamp,
              relativeTimestamp: timestamp - this.lastTimecode,
              previousSum: currentSum,
              edited: false,
            });
            this.lastTimecode = `${Date.now()}`;
          },
        },
      });
    </script>
  </body>
</html>
