/* For the button */
.container {
  display: flex;
  flex-direction: column;
}

.timecode {
  flex-grow: 1;
  padding-top: 1em;
  padding-bottom: 1em;
}

.offset {
  max-width: 6em;
}


.timecodesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }

  .copy { margin-right:3rem;}

  .recentTimecodes p:first-of-type  {
    /* color: #222; */
    animation: fadeIn 1s ease-in;
    opacity: 0.7;
  }

  .recentTimecodes p {
    color: #666;
    opacity: .5;
  }


  @keyframes fadeIn {
    0% {
      -webkit-transform: scale(0.8, 0.8);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1.0, 1.0);
      opacity: 1;
    }
  }